DOMAIN-SUFFIX,sciencedirect.com,DIRECT
DOMAIN-SUFFIX,jsdelivr.net,DIRECT
DOMAIN-SUFFIX,apple.com,DIRECT
DOMAIN-SUFFIX,cdn-apple.com,DIRECT
DOMAIN-SUFFIX,webofscience.com,DIRECT
DOMAIN-SUFFIX,overleaf.com,DIRECT